.services-list{
	row-gap: 2rem;
}
.services-item{
	padding:2.4rem;
}
.services-item-img  {
	margin-bottom : 0.8rem;

}

.services-item-img img {
	width :80px;
	display : block;
	margin : auto;
}
.services-item-text .text{
	max-width : 460px;
}

.services-item .btn-item {
	margin-top: 1.6rem;
	border-color: var(--brown-color);
	padding: 1rem 2.4rem;
	font-size: 1.4rem;
}

.services-item .btn-item:hover {
	background-color: var(--dark-color);
	border-color: var(--brown-color);
}

@media screen and (min-width:768px ){
	.services-list {
		grid-template-columns : repeat(2,1fr);
		column-gap : 2rem;
	}
}

@media screen and (min-width : 992px){
	.services-list {
		grid-template-columns : repeat(3,1fr);
	}
}
